* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(25, 19, 19);
    color: rgb(255, 255, 255);
}

.navbar {
    background: rgb(32, 30, 38) !important;
    box-shadow: #4285f4 !important;
    border-bottom: #7f7f85 !important;

}

.navbar-li {
    margin-left: 325px;
    display: flex;
    list-style-type: none;
}

.nav-item {
    margin: 30px;
    color: white;
    text-decoration: none;
}


.nav-item li {
    color: white;
}

.navbar-brand {
    color: white;
    font-size: 55px;
    right: 100px;
}

.intro-section {
    display: flex;

}

.left-section {
    margin: 135px;
}

.intro {
    font-size: 80px;

}

.intro-desc {
    color: #7f7f85;
    font-size: 35px;
}

.right-section {
    margin: 150px;
    background: rgb(2, 0, 36);
    border-radius: 50%;
}

.right-section img {
    border-radius: 50%;
    height: 400px;
    width: 350px;
}

.name {
    background: linear-gradient(74deg, #4285f4 0, #9b72cb 9%, #d96570 20%, #d96570 24%, #9b72cb 35%, #4285f4 44%, #9b72cb 50%, #d96570 56%, #a35595 75%, #4285f4 95%, #131314 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

footer {
    background-color: rgb(32, 30, 38);
    color: #7f7f85;
    height: 15vh;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

